@using HR_Domin
@model ReneralSettViewModel

@{
    ViewData["Title"] = "Index";
}



<div class="content-header">
    <div class="container-fluid">
        <div class="row">
            <div class="col-sm-6">
                <h1 class="m-0 text-dark">الاعدادات العامة للموظف</h1>
            </div>
            <div class="col-sm-6">
                <ol class="float-sm-right">
                    <li class="">
                        <a href="/Admin/Home/Index">الصفحة الرئيسية</a>
                    </li>
                </ol>
            </div>
        </div>

    </div>

    <!-- Main content -->
    <section class="content">
        <div class="row">
            <div class="col-12">
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">الموظفين</h3>
                        <div class="card-tools">
                            @if (User.IsInRole(Helper.Admin) || User.IsInRole(Helper.Editor))
                            {
                                <!-- Button trigger modal -->
                                <button type="button" class="btn btn-outline-primary rounded-pill" data-toggle="modal" data-target="#exampleModal" onclick="Rest()">
                                    اضافة اعدادات الموظف
                                </button>
                            }
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <meta charset="utf-8" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0">
                    <title>DataTable Example</title>
                    <link rel="stylesheet" href="https://cdn.datatables.net/1.10.21/css/jquery.dataTables.min.css" />
                    <!-- /.card-header -->
                    <div class="card-body">
                        <table id="tableSettings" class="table table-bordered table-hover">
                            <thead>
                                <tr>
                                    <th>الاسم</th>
                                    <th>الاضافي</th>
                                    <th>الخصم</th>
                                    <th>التاريخ</th>
                                    <th>يوم الاجازه الرسمي 1</th>
                                    <th>يوم الاجازه الرسمي 2</th>
                                    @if (User.IsInRole(Helper.Admin) || User.IsInRole(Helper.Editor))
                                    {
                                        <th>الحدث</th>
                                    }
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model.listSetting)
                                {
                                    <tr>
                                        <td>@item.employee.Name</td>
                                        <td>@item.Extra</td>
                                        <td>@item.Rival</td>
                                        <td>@item.dateTime.ToString("ddd yyyy-MM-dd")</td>
                                        <td>@item.OfficialLeave1</td>
                                        <td>@item.OfficialLeave2</td>
                                        @if (User.IsInRole(Helper.Admin) || User.IsInRole(Helper.Editor))
                                        {
                                            <td>
                                                <input type="button" class="btn btn-outline-info btn-sm" onclick="Edit('@item.Id','@item.employee.Name','@item.Extra','@item.Rival','@item.dateTime'
                                            ,'@item.OfficialLeave1','@item.OfficialLeave2')" value="تعديل" data-toggle="modal" data-target="#exampleModal" />
                                                <input type="button" class="btn btn-outline-danger btn-sm" onclick="Delete('@item.Id')" value="حذف" />
                                            </td>
                                        }
                                    </tr>

                                }
                            </tbody>

                        </table>

                    </div>
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
                <!-- /.card -->
            </div>
            <!-- /.col -->
        </div>
        <!-- /.row -->
    </section>
    <!-- /.content -->
</div>







<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="#exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="title">اضافة مستخدم جديد</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form id="empForm" method="post" asp-action="AddSetting" asp-controller="GeneralSettings">
                    <div class="form-group">
                        <input class="form-control" hidden asp-for="generalSetting.Id" type="text" id="userId" />

                        <label asp-for="generalSetting.employeeId" class="form-label">اسم الموظف</label>
                        <select asp-for="generalSetting.employeeId" class="form-control" asp-items="Model.EmpList" id="nameEmps">
                            <option disabled selected>--Select Employee--</option>
                        </select>
                        <span asp-validation-for="generalSetting.employeeId" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="generalSetting.Extra" class="control-lable">الساعات الاضافيه</label>
                        <input class="form-control" asp-for="generalSetting.Extra" type="number" id="extraSetting" />
                    </div>
                    <div class="form-group">
                        <label asp-for="generalSetting.Rival" class="control-lable"> ساعات الخصم</label>
                        <input class="form-control" asp-for="generalSetting.Rival" type="number" id="rivalSetting" />
                    </div>
                    <div class="form-group">
                        <label asp-for="generalSetting.dateTime" class="control-lable">التاريخ</label>
                        <input class="form-control" asp-for="generalSetting.dateTime" type="date" id="datetimeSetting" />
                        <span asp-validation-for="generalSetting.dateTime" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="generalSetting.OfficialLeave1" class="control-lable">يوم الاجازه الاول</label>
                        <input class="form-control" asp-for="generalSetting.OfficialLeave1" type="text" id="day1Setting" />
                        <span asp-validation-for="generalSetting.OfficialLeave1" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="generalSetting.OfficialLeave2" class="control-lable">يوم الاجازه التاني</label>
                        <input class="form-control" asp-for="generalSetting.OfficialLeave2" type="text" id="day2Setting" />
                        <span asp-validation-for="generalSetting.OfficialLeave2" class="text-danger"></span>
                    </div>
                    <div class="modal-footer">
                        <input type="submit" class="btn btn-success" value="حفظ" id="btnSave" />
                        <button type="button" class="btn btn-secondary" data-dismiss="modal">الغاء</button>
                    </div>
                </form>
            </div>

        </div>
    </div>
</div>




@section Scripts {
    <script>

        $(document).ready(function () {
            $('#tableSettings').DataTable({
                "autoWidth": false,
                "responsive": true
            });
        });

        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["SuccessMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: "تم الحفظ بنجاح",
                        icon: "success",
                        confirmButtonText: "حسنًا"
                    });
            </text>
        }

        @if (TempData["ErrorMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: "خطأ",
                        icon: "error",
                        confirmButtonText: "حسنًا"
                    });
            </text>
        }
                                                                                });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["DeleteMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: "تم الحذف بنجاح",
                        icon: "success",
                        confirmButtonText: "حسنًا"
                    });
            </text>
        }


                                                                                        });
    </script>

    <script>
        document.addEventListener("DOMContentLoaded", function () {
        @if (TempData["EditMessage"] != null)
        {
            <text>
                    Swal.fire({
                        title: "تم التعديل بنجاح",
                        icon: "success",
                        confirmButtonText: "حسنًا"
                    });
            </text>
        }
        else if (TempData["ErrorEdit"] != null)
        {
            <text>
                    Swal.fire({
                        title: " لم يتم التعديل ",
                        icon: "error",
                        confirmButtonText: "حسنًا"
                    });
            </text>
        }


                                                                                                });
    </script>
}
<script src="~/lib/jquery-validation/~/_Admin/dist/jquery.validate.min.js"></script>
<script src="~/lib/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate/1.19.2/jquery.validate.min.js"></script>
<script src="https://ajax.aspnetcdn.com/ajax/jquery.validate.unobtrusive/3.2.11/jquery.validate.unobtrusive.min.js"></script>

<script src="~/Models/GeneralSetting.js"></script>
}
